---
permalink: /searchIndex.json
eleventyExcludeFromCollections: true
---
[
{%- set isFirst = true -%}
{%- for post in collections.note -%}
  {%- if post.url != '/' and '/tag/' not in post.url and 'searchIndex' not in post.url -%}
    {%- if not isFirst -%},{%- endif -%}
    {%- set isFirst = false -%}
    {
        "title": {{ (post.data.title or post.fileSlug) | jsonify | safe }},
        "date": "{{ post.date }}",
        "url": "{{ post.url }}",
        "author": {{ (post.data.author or "CGfan") | jsonify | safe }},
        "cover": {{ (post.data.cover or "") | jsonify | safe }},
        {#- 关键修改：不再使用 striptags，改为用 replace 正则精准删除脏数据 -#}
        "content": {{ post.templateContent | replace("[object Object]", "") | jsonify | safe }},
        "tags": [
            {%- if post.data.tags -%}
                {%- for tag in post.data.tags -%}
                    {{ tag | replace('#', '') | jsonify | safe }}{%- if not loop.last -%},{%- endif -%}
                {%- endfor -%}
            {%- endif -%}
        ]
    }
  {%- endif -%}
{%- endfor -%}
]
